.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
.idea
.vscode
.cursor
*.md
*.pdf
k8s
requirements-dev.txt
.pylintrc
docker-compose.yml
.dockerignore
.gitignore
