[MAIN]
ignore = tests
jobs = 0

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    unnecessary-ellipsis

[FORMAT]
max-line-length = 120

[DESIGN]
max-attributes = 10

[REPORTS]
score = yes
